<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Regression">
    <test thread-count="5" name="justin-conway-testing">
        <classes>
            <class name="com.justin.conway.tests.AmazonSearchTest"/>
        </classes>
    </test>
</suite>
